.container-hero{ 
    margin-top: 59px;
    .hero-head{
        display: grid;
        gap: 121px;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        margin: 25px 108px;
        h2{
            color: #FFFFFF;
            font-size: 48px;
            font-weight: 800;
            line-height: 58.51px;
            letter-spacing: 0.2px;
        }
        .form{
            width: 481px;
            height: auto;
            background-color: transparent;
        }
    }

    @media screen and (max-width: 990px){
        .hero-head{
            grid-template-columns: 1fr;
            gap: 40px;
            margin: 68px 30px;
<<<<<<< HEAD
            h1{
=======
            h2{
>>>>>>> 4928e30f66f9bb08170538a5f709bd2bcac6045e
                font-size: 30px;
                line-height: 36.57px;
                text-align: center;
            }
            .form{
                width: auto;
                height: auto;
            }
        }
        .hero-box{
            grid-template-columns: 1fr;
        }
    }
}

.hero-bottom-box{
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        width: 1046px;
        gap: 30px;
        margin-top: -135px;
        div{
            width: 328px;
            height: 100%;
            border-radius: 20px;
            border: 0;
            padding: 2rem 2.5rem;
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            gap: 10px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            h3{
                text-wrap: nowrap;
            }
        }
        @media screen and (max-width: 1024px) {
            gap: 0px;
            div{
                width: 283px;
                height: 261.53px;
            }
        }
        @media screen and (max-width: 990px){
            grid-template-columns: 1fr;
            margin: 75px auto;
            width: 100%;
            gap: 30px;
            div{
                width: 70%;
            }
        }
        @include mobile{
            div{
                width: 90%;
                height: 100%;
            }
        }
    }
}
