.buttons {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 50px;
}
.top-main-container{
  width: 100%;
  height: 900px;
  background-color: #F5F5F5;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.images{
  margin-top: -27px !important;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
.grid-slider{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}
.grid-item {
  flex: 1;
  margin-right: 10px;
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  padding-left: 3px;
}

.grid-item img {
  max-width: 100%;
  // margin-top:-27px !important;
}
.sub-heading {
  text-align: left;
  margin-bottom: 5px;
}
.sub-heading-image{
  margin-top: 10px;
}

.color-heading {
  color: rgb(119, 189, 190);
  text-align: start;
}
.button-end {
  border-radius: 50px;
  width: 100px;
  margin-left: 10px;
  color: white;
  background-color: rgb(41, 98, 255);
  border: none;
}

.button-end-2nd {
  border-radius: 50px;
  width: 100px;
  margin-left: 10px;
  color: rgb(41, 98, 255);
  border: none;
}
.button-end-last {
  border-radius: 50px;
  width: 150px;
  margin-right: 85px;
  margin-top: 28px;
  
  color: white;
  background-color: rgb(41, 98, 255);
  justify-content: start;
  text-decoration: none;
  border: none;
}

.button-top {
  width: 300px;
  margin-left: 10px;
  height: 55px;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  background-color: white;
  font-weight: 400px;
  font-size: 32px;
  color: #616161;
}
#button-top-first{
  background-color: green;
  color:white;
}

#gird-item-last{
  background-color: #333333 !important;
  color: white;
  
}

.top-header {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}
.our-flexible {
  margin-left: 20px;
  margin-top: 20px;
}

.side-heading-two{
  display: flex;
  justify-content: center;
  display: none; 
}
.imagelogo{
  border-radius: 74% !important;
  margin-left: -4px;
}
.price-heading{
  display: flex;
  align-items: center;
}
.side-heading-two{
  display: flex;
  justify-content: space-between; 
  display: none;
}
.flexing-div{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 420px){
  #color-heading-three{
    margin-top: 19px;
  }
  #color-2nd-heading{
    margin-top: 20px;

  }

  .imagelogo{
    border: 74%;
  }
   

   .top-main-container{
    width: 555px;
    height: 669px;
    margin-top: 10px;
    margin-left: 0;
    padding: 6px;

  }
  #top-header {
    display: inline;
    margin-left: 20px; 
    margin-right: 20px;
    gap: 20px;
  }
  .side-heading {
    display: none;
  }
  .side-heading-two{
    display:inline-block;
    margin-left:20% ;
    margin-right: 20%;
    
  }
  .buttons {
    display: none;
    
  }
  .grid-container {
    display: flex;
    align-items: center;
    margin: 40px;
  }
  .images{
    display: none;
  }
  .grid-container{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding : 20px 0;
  }
  .grid-slider{
    display: flex;
    flex-wrap: nowrap;
  }
  .grid-item{
    flex:0 0 auto;
    width: 100%;
    padding: 0 10px
  }

}

@media screen and (min-width:421px) and (max-width:762px){
  #color-heading-three{
    margin-top: 19px;
  }
  #color-2nd-heading{
    margin-top: 20px;

  }
  .top-main-container{
    width: 815px;
    height: 669px;
    margin-top: 10px;
    margin-left: 0;
    padding: 6px;

  }
  .imagelogo{
    border-radius: 74%;
  }
  #top-header {
    display: inline;
    margin-left: 20px; /* Adjust margin for smaller screens */
    margin-right: 20px;
    gap: 20px;
  }
  .side-heading {
    display: none;
  }
  .side-heading-two{
    display:inline-block;
    margin-left:20% ;
    margin-right: 20%;
    
    
  }
  .buttons {
    display: none;
    
  }
  .grid-container {
    display: flex;
    align-items: center;
    margin: 40px;
  }
  .images{
    display: none;
  }
  .grid-container{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding : 20px 0;
  }
  .grid-slider{
    display: flex;
    flex-wrap: nowrap;
  }
  .grid-item{
    flex:0 0 auto;
    width: 100%;
    padding: 0 10px
  }

}




// @media screen and (min-width:760px)  and (max-width: 1080px) {


//   #color-heading-three{
//     margin-top: 19px;
//   }
//   #color-2nd-heading{
//     margin-top: 20px;

//   }
//   .top-main-container{
//     height: 623px;
//     margin-top: 10px;
//     margin-left: 0%;
//     padding: 1px;
//     width: 1280px;

//   }
//   .imagelogo{
//     border-radius: 74%;
//   }
//   #top-header {
//     display: inline;
//     margin-left: 20px; 
//     margin-right: 20px;
//     gap: 20px;
//   }
//   .side-heading {
//     display: none;
//   }
//   .side-heading-two{
//     display:inline-block;
//     margin-left:20% ;
//     margin-right: 20%;
    
    
//   }
//   .buttons {

//     display: none;
    
//   }
//   .grid-container {
//     display: flex;
//     align-items: center;
//     margin: 40px;
//   }
//   .images{
//     display: none;
//   }
//   .grid-container{
//     overflow-x: auto;
//     scroll-snap-type: x mandatory;
//     padding : 20px 0;
//   }
//   .grid-slider{
//     display: flex;
//     flex-wrap: nowrap;
//   }
//   .grid-item{
//     flex:0 0 auto;
//     width: 100%;
//     padding: 0 10px
//   }


// }
@media screen and (min-width:762px)  and (max-width: 1440px) {
  .adjustment-first{
    margin-top: -19px;
  }
  #adjustment-color{
    margin-top: 20px;
  }
  #first-sub-heading{
    margin-bottom: 5px;

  }
  .top-main-container{
    height:1041px;
        margin-top: 10px;
        margin-left: 0%;
        padding: 1px;
        width: 1365px !important;

  }
  .imagelogo{
    border-radius: 74%;
  }
  // #top-header {
  //   display: inline;
  //   margin-left: 20px; 
  //   margin-right: 20px;
  //   gap: 20px;
  // }
  #button-end-2ndlast{
    margin-top: 5px;
  }
  #button-first{
    margin-top: 5px;
  }
  #button-two{
    margin-top:8px;

  }
  #color-heading-three{
margin-top: 18px;
  }
  #color-2nd-heading{
    margin-top: 17px;
  }
  .button-three{
    margin-top: 9px;
  }
  .side-heading {
    display: none;
  }
  .side-heading-two{
    display:inline-block;
    margin-left:10% ;
    // margin-right: 20%;
    margin-bottom: 5px;
    
    
  }
  .buttons {

    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 60px;
    margin-top: 6px;
    
  }
  .button-top{
    width: 240px;
  }
  .grid-container {
    display: flex;
    align-items: center;
    margin: 40px;
    
  }
  .images{
    // display: none;
    height: 426px;
    width: 426px;
   
  }
  .grid-container{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding : 20px 0;
  }
  .grid-slider{
    display: flex;
    flex-wrap: nowrap;
  }
  .grid-item{
    overflow: hidden;
    flex:0 0 auto;
    width: 100%;
    padding: 18px 10px
  }

}


