body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}  

.icon-subcontainer {
  padding-top: 22px;
  width: 290px;
  height :204px;
  text-align: center;
  display: flex;
  border: 2px solid rgba(226, 228,230, 1);
  border-radius: 16px;
  // box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
 
  
}
.icon-container{
  padding:5px;
  gap: 40px;
}

.title-icon {
  font-size: 24px;
  font-family:Inter, sans-serif;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  text-align: left;
  color: #2962FF;
  

  

}


.underline{
  border:1px solid black;
  width: 110px;
  margin-bottom: 10px; 
  margin-top: -8px; 
  
}

.description-icon {
  font-size: 16px;
  text-align: left;
  
}

.icon {
  font-size: 30px;
  color: green;
 
}

.button-icon {

  color: white;
  // padding: 10px 20px;
  // margin-top: 20px;
  cursor: pointer;
  text-align: left;
}
.icon-main{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(20px,auto);
  
  overflow: hidden;
  margin-top: 35px;
  margin-left: 100px;
  margin-right: 100px;
  gap: 40px;
  
  
  
 
}
.image {
  padding-top:30px;
}





@media screen and (max-width: 517px)  {


  // .icon-subcontainer{
    
   
  // }
  .icon-main {
      grid-template-columns: 1fr; 
      width: 100%;
      padding: 0;     
      margin:28%;
      
     
  }
}
@media screen and (min-width: 517px)and (max-width:800px) {

 
   
  .icon-main {
    grid-template-columns: 1fr; 
    width: 460px;
    padding: 0;     
    margin-left:31%;
    margin-right: 31%;

}
}

@media screen and (min-width: 844px) and (max-width: 1145px)  {

  .icon-subcontainer{
    width: 328px;
    margin-left: 6%;
  }
  .icon-main {
      grid-template-columns: repeat(2, 1fr); 
      
      
  }
}
@media screen and (min-width: 1145px) and (max-width: 1400px)  {
  .icon-main {
      grid-template-columns: repeat(3, 1fr); 

  }
}
