.companies-comp{
    .container{
       
        margin-top: 100px;
        .list-comapny-log{

            display: grid;
            // grid-template-columns: repeat(6,1fr);
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
            column-gap: 67px;
            row-gap: 136px;
            padding: 101px 0;
            @include tablet{
                grid-template-columns: repeat(auto-fit, minmax(86.32px, 1fr));
                row-gap: 32px;
                padding: 48px 0;
                margin: auto;
            }
            @include mobile{
                grid-template-columns: repeat(auto-fit, minmax(86.32px, 1fr));
                row-gap: 32px;
                column-gap: 29px;
                padding: 48px 0;
                margin: auto;
            }

            img{
                width: 160px;
                @include mobile{
                    width: 86.32px;
                }
                @include tablet{
                    width: 95.32px;
                }
            }
        }
        h2{
            font-family: Assistant;
            font-size: 40px;
            font-weight: 600;
            line-height: 32px;
            text-align: left;
            @include mobile{
                font-family: Assistant;
                font-size: 32px;
                font-weight: 400;
                line-height: 40px;
                text-align: left;

            }
            @include tablet{
                font-family: Assistant;
                font-size: 32px;
                font-weight: 400;
                line-height: 40px;
                text-align: left;

            }
        }

       
    
        
















    }
   
}