@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

* {
  font-family: Assistant, sans-serif;
}
.why-opt-launchwise {
  .container {
    display: flex;
    margin-top: 167px;
    margin-bottom: 162px;

    @include tablet {
      flex-direction: column;
    }

    // first component here
    .first-compoent {
      width: 100%;
      position: relative;


      .client-container {
        width: 303px;
        background-color: #efefef;
        padding: 16px 0;
        position: absolute;
        top: 52px;

    

        @include tablet {
          width: 227.89px;
          height: 318.89px;
          left: 18px;
          top: 39px;
        }
        @include min-devices{
            position: static;
            display: flex;
            justify-content: center;
            width: 100%;
            margin: auto;
            flex-direction: column;
            margin: 5rem 0;
        }

        h2 {
          font-family: Assistant;
          font-size: 40px;
          font-weight: 600;
          margin-top: 0px;
          text-align: center;
          color: #2962ff;
          @include tablet {
            font-family: Assistant;
            font-size: 30.08px;
            font-weight: 600;
            text-align: center;
          }
        }
        p {
          font-family: Assistant;
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          line-height: 16px;
          margin-top: 0px;
          @include tablet {
            font-family: Assistant;
            font-size: 13.54px;
            font-weight: 400;
            text-align: center;
          }
        }
      }
      .ClientServedCard-img {
        width: 212px;
        height: 264px;
        margin-left: 221px;
        gap: 0px;
        @include tablet {
            max-width: 159px;
            height: 198.55px;
            margin-left: 184.21px;
            gap: 0px;
            
        }
        @include min-devices{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: auto;
       }
      
      }
    }



    // second component here
    .second-component {
      width: 100%;
      .heading {
        font-family: Assistant;
        font-size: 56px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        @include tablet{
            margin-top: calc(10rem + 48px);
            font-family: Assistant;
            font-size: 30px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #393939;
        }
        @include min-devices{
            margin-top: 0rem;
        }
      }
      .heading-para {
        font-family: Assistant;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 24px 0 18px 0;
        @include tablet{
            font-family: Assistant;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;

        }
      }

      .open-accordians {
        display: flex;
        gap: 19px;
        align-items: center;
        margin-top: 22px;
        .vr-line {
          width: 8px;
          height: 69px;
          gap: 0px;
          background-color: #2962ff;
        }
        h3 {
          font-family: Assistant;
          font-size: 32px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          @include tablet{
            font-family: Assistant;
            font-size: 18px;
            font-weight: 600;
            line-height: 19.36px;
            text-align: left;
          }
        }
        p {
          font-family: Assistant;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          margin-top: 18px;
          margin-bottom: 0;

          @include tablet{
            font-family: Assistant;
            font-size: 12.9px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: left;

          }
        }
      }

      .accordian-container {
        h3 {
          font-family: Assistant;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          margin-top: 32px;
          color: #393939;
          @include tablet{
            font-family: Assistant;
            font-size: 18px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: left;

          }

          img {
            margin-right: 18px;
            @include tablet{
                margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
