@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.p-three-free-download{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F5F6FC;

    @include tablet{
        padding-top: 25px;
        padding-bottom: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        

        @include tablet{
            width: 96%;
            box-shadow: 0px 0px 5px 5px rgba(212, 209, 209, 0.61);
            border-radius: 12px;
            background-color: #FFFFFF;  
            padding: 16px;
        }
    .content-container{
        margin: auto;
        display: flex;
        // width:1082px;
        width: 85%;
        
        justify-content: space-between;
        align-items: center;

        @include tablet{
            width: 100%;
            flex-direction: column;
            gap: 40px;
        }
        .typeography-container{
            max-width: 660px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            @include tablet{
                gap: 12px;
            }
            
            h1 {
                background: linear-gradient(270deg, #22417A, #3F78E0);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text; 
                font-family: Montserrat;
                font-size: 52px;
                font-weight: 800;
                line-height: 63.39px;
                text-align: left;
                width: 100%;
                @include tablet{
                    font-family: Montserrat;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29.26px;
                    text-align: left;
                    background: linear-gradient(270deg, #22417A, #3F78E0);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;


                }
            }
            h2{
                font-family: Montserrat;
                font-size: 40px;
                font-weight: 600;
                line-height: 48.76px;
                text-align: left;
                text-transform: uppercase;
                color: #2F2F2F;                
                @include tablet{
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19.5px;
                    text-align: left;

                    
                }
            }
            p{
                font-family: Montserrat;
                font-size: 27.59px;
                font-weight: 500;
                line-height: 36.98px;
                text-align: left;
                color: #2D2D2D;                
                @include tablet{
                    font-family: Manrope;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 21.44px;
                    text-align: left;
                    color: #252525B2;
                    
                }
            }
         
            
        }
        .img-container{
            img{
                max-width: 300px;
                gap: 0px;
                opacity: 0px;

                @include tablet{
                    max-height: 296.22px;
                    gap: 0px;
                }
                @include mobile{
                    max-width: 100%;
                    height: 265px;
                    gap: 0px;
                }
               
            }
        }
      
    
    }
    .right{
        display: flex;
        gap: 50px;
        @include tablet{
            display:  none;
        }
        .user-reviews{
        
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
            @include tablet{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p{
                font-family: Product Sans Medium;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.98px;
                text-align: left;
                margin-top: 15px;

            }
            .line{
                width: 0.5px;
                background-color: #252525;
                border: none;
                height: 10px;
                margin-left: 7px;
                margin-right: 7px;
                margin-top: 1.5px;
                @include min-devices{
                    display:  none;
                }
            }
                .googleImg{
                    height: 40px;
                    width: 40px;
                    padding: 6px;
                    border-radius: 20px;
                    opacity: 0px;

                }
                .review-star{
                    width: 12.71px;
                    height: 12px;

                }
            
            
        }
        button{
            width: 361px;
            height: 68px;
            gap: 0px;
            border-radius: 15px;
            border: none;
            opacity: 0px;                
            font-family: Montserrat;
            font-size: 22px;
            font-weight: 700;
            line-height: 29.48px;
            text-align: left;
            text-align: center;
            color: #FFFFFF;
            background-image: linear-gradient(90deg, #004CD2 0%, #204D9E 100%);
            box-shadow: 0px 5px 5px rgba(155, 154, 154, 0.61);  
            
                &:hover{
                    background-image: linear-gradient(90deg, #ffa2298a 0%, #FFA229 100%);
                    color: blue;
                }
            
        @include tablet{
            border-radius: 4px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
            line-height: 28.8px;
            text-align: center;
            min-height: 57px;
            width: 100%;
            padding: 10px;

        }

        }
    }
      
    .new-right{
        display: flex;
        flex-direction: column;
        gap: 12px;
        .box{
            display: flex;
            align-items: center;
            align-content: center;
            gap:11px;

            .googleImg{
                height: 40px;
                width: 40px;
            }
        }

        button{
            border-radius: 4px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
            line-height: 28.8px;
            text-align: center;
            width: 100%;
            padding: 10px;
            border: 1px solid #204D9E;

            text-align: center;
            color: #FFFFFF;
            background-image: linear-gradient(90deg, #004CD2 0%, #204D9E 100%);
            box-shadow: 0px 5px 5px rgba(155, 154, 154, 0.61);  
            
                &:hover{
                    background-image: linear-gradient(90deg, #ffa2298a 0%, #FFA229 100%);
                    color: blue;
                }

        }
     
      
    }
    }

}